form.form-inline(ng-submit="login.submit()")
    div.form-group
        input.form-control(type="text", ng-model="login.name", required, placeholder="Your Name")
    button.btn.btn-primary(type="submit") Continue